div.css-1nnn0hm.e1jwn65y3
{    margin:-34px;
    margin-left: -70px;
    margin-right: -115px;
    
}

div.css-1cpxqw2.edgvbvh9{
    margin-left: -30px;
}


div.css-ocqkz7.e1tzin5v4
{
    gap: 10px;
}