div.css-1a32fsj.e19lei0e0{
    border: 1px solid black;
    border-radius: 10px;
    background-color: #fdf5f4;
}
div.css-zt5igj.e16nr0p32{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bolder;
    color: brown;
}