div.css-znku1x.e16nr0p33{
    background-color: rgb(255, 242, 224);
}
div.css-zt5igj.e16nr0p32{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    font-weight:bolder;
    font: size 1000px;
}
div.css-15tx938.effi0qh3{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: larger;
    font-weight: bold;
}
div.css-1v3fvcr.egzxvld3{
    background-color: burlywood;
}
div.css-1v0mbdj.etr89bj1{
    width: 80%;
    height: auto;
}
.css-1cpxqw2.edgvbvh9{
    background-color: red;
    color: white;
    align-self: center;
    width: 100px;
    margin-left: 320px;
    font-size: large;
    font-weight: bold;
}
