

div.css-ocqkz7.e1tzin5v4{
    width: 700px;
    border: 1px solid black;
    padding:10px;
    margin: 0px;
    border-radius: 10px;
    margin-left: 5px;
    background-color: rgb(184, 245, 239);
  }
div.css-ocqkz7.e1tzin5v4{
    padding:5px;
}

/*dropdown/ selectbox*/
div.st-ae.st-af.st-ag.st-ah.st-ai.st-aj.st-br.st-bd.st-b7{
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/*
Login 
div.css-znku1x.e16nr0p33{
    background-color: burlywood;
}
div.st-bd.st-b4.st-be.st-bf.st-bg.st-bh.st-bi.st-bj.st-bk.st-bl.st-bm{
    background-color: blue;
    color: white;
}
div.css-12oz5g7.egzxvld2{
    display: block;
    width: 1200px;
    height: auto;
    padding:5px;
    border-color: black;
}

div.css-6dnr6u.edgvbvh1{
    background-color: blue;
}
div.block-container.css-12oz5g7.egzxvld2{
  width: 80%;
  border: 2px solid black;
  padding: 50px;
  margin: 20px;
}
div.css-1n76uvr.e1tzin5v0{
  width: 80%;
  border: 15px solid green;
  padding: 50px;
  margin: 20px;
}

div.css-128j0gw.egzxvld2{
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

div.css-1cpxqw2.edgvbvh9{
    background-color: blue;
    color: white;
}
*/